@inherits LayoutComponentBase
@using MudBlazor;

<MudThemeProvider Theme="MyCustomTheme" />

<div class="container">
    @Body
</div>

@code{
    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new PaletteLight()
        {
            Primary = Colors.Shades.Black,
            Secondary = Colors.Brown.Lighten2,
            Tertiary = Colors.Yellow.Darken2,
            Error = Colors.Red.Lighten1
        },
        PaletteDark = new PaletteDark()
        {
            Primary = Colors.Blue.Lighten1
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };
}