<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid mx-16">
        <button class="navbar-toggler mt-1" type="button"  @onclick="ToggleNavMenu" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@collapse navbar-collapse nav-flex-row" id="navbarNav">
            <ul class="navbar-nav ml-4">
                <li class="nav-item">
                    <a class="nav-link ml-1" href="pricing">FORMULES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="availability">BESCHIKBAARHEID</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="extras">EXTRA'S</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">OVER BLANCHE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">
                        <i class="fa-solid fa-gear"></i>
                    </a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand" href="#">
            <img class="img-fluid" src="/images/homePage/BlancheLogoSmall.png" alt="Blanche logo" />
        </a>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? collapse => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
