@using Blanche.Shared.Formulas
@using System.Net.Http
@inject HttpClient HttpClient


<div class="d-flex flex-row justify-content-around my-auto bg-gray">
    @foreach (var item in Formules)
    {
        <FormulaCard Props="@item"/>
    }
</div>

@code {
    List<FormulaDto.Index>? Formules = new List<FormulaDto.Index>();
    protected override async Task OnInitializedAsync()
    {
        Formules = await HttpClient.GetFromJsonAsync<List<FormulaDto.Index>>("/api/formula");
    }

}
