@page "/ContactDetails"
@inject ILogger<CustomerDto> Logger
@using System.Net.Http
@inject HttpClient Http
@using Blanche.Shared.Customers;

<!--<PageTitle>ContactDetails</PageTitle>

<h1 class="h1">ContactDetails</h1>

<EditForm Model = "@Model" OnSubmit="@Submit">
    <div class="form-range">
        <label for="firstName" class="form-label"></label>
        <InputText @bind-Value = "Model!.FirstName" class="form-control" id="firstName" />
    </div>
    <div class="form-range">
        <label for="lastName" class="form-label"></label>
        <InputText @bind-Value = "Model!.LastName" class="form-control" id="lastName" />
    </div>
    <div class="form-range">
        <label for="phoneNumber" class="form-label"></label>
        <InputText @bind-Value = "Model!.PhoneNumber" class="form-control" id="phoneNumber" type="tel" />
    </div>
    <div class="form-range">
        <label for="email" class="form-label"></label>
        <InputText @bind-Value="Model!.Email.ToString()" class="form-control" id="email" type="email" />
    </div>-->
@*<div class="form-range">
        <label for="date" class="form-label"></label>
        <input class="form-control" id="date" name="date" type="date" />
    </div>*@

<!--<button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    public CustomerDto? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    public async Task Submit()
    {
        HttpResponseMessage response;
        if (Model != null)
        {
            response = await Http.PostAsJsonAsync<CustomerDTO>("Customer", Model);
            Logger.LogInformation("Model.FirstName = {FirstName}", Model?.FirstName);
            Logger.LogInformation("Model.LastName = {LastName}", Model?.LastName);
            Logger.LogInformation("Model.PhoneNumber = {PhoneNumber}", Model?.PhoneNumber);
            Logger.LogInformation("Model.Email = {Email}", Model?.Email);
        }

    }
}-->
