@page "/checkout" 
@using Blanche.Client.Checkout.Components

<PageTitle>Checkout</PageTitle>

<div class="nav-menu">
    <NavMenu />
</div>

<img class="bg-img" src="/images/homePage/4.jpg" alt="Homepage background" />

<Checkout />