@inherits LayoutComponentBase
@using MudBlazor;

<MudThemeProvider Theme="MyCustomTheme" />
<MudDialogProvider />

<NavMenu />
<section class="section">
    <img class="bg-img" src="/images/homePage/4.jpg" alt="Homepage background" />
    @Body
</section>

<Sidepanel />

@code{
    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new PaletteLight()
        {
            Primary = Colors.Shades.Black,
            Secondary = Colors.Brown.Lighten2,
            Tertiary = Colors.Yellow.Darken2,
            Error = Colors.Red.Lighten1,
            Info = Colors.Shades.White,
            Warning = Colors.Red.Darken1,
            Dark = Colors.Grey.Darken4
        },
        PaletteDark = new PaletteDark()
        {
            Primary = Colors.Blue.Lighten1
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };
}