@page "/formula"
@using Blanche.Shared

<PageTitle>Choose your formula</PageTitle>

<div class="nav-menu">
	<NavMenu />
</div>

<h2 class="h2">Formula</h2>

<EditForm>
	<div class = "mb-3">
		@* @foreach(Formula formula in @forumulaList)
		{
			<div class="form-check">
				<input id=@formula.Name class="form-check-input" type="radio" name="formula" value=@formula.Id />
				<label for="formule1" class="form-check-label">@formula.Description</label>
			</div>
		} *@

		<div class="form-check">
			<input id="formule1" class="form-check-input" type="radio" name="formula" value="formule1" />
			<label for="formule1" class="form-check-label">Formule 1: huur foodtruck</label>
		</div>
		<div class="form-check">
			<input id="formule2" class="form-check-input" type="radio" name="formula" value="formule2" />
			<label for="formule2" class="form-check-label">Formule 2: huur foodtruck + bier naar keuze</label>
		</div>
		<div class="form-check">
			<input id="formule3" class="form-check-input" type="radio" name="formula" value="formule3" />
			<label for="formule3" class="form-check-label">Formule 2: huur foodtruck + bier naar keuze + Hamburger BBQ</label>
		</div>
		<div class="form-check">
			<input id="formule4" class="form-check-input" type="radio" name="formula" value="formule4" />
			<label for="formule4" class="form-check-label">Formule 4: huur foodtruck + bier naar keuze + Hamburger BBQ</label>
		</div>
		<div>
			<input type="submit" class="btn btn-primary" title="Voeg extra items toe" />
		</div>
	</div>
</EditForm>


@code {
	/*@formulaList = FormulaController.getFormulas()*/
}
