body{
    background-color: black;
}
.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}