@page "/"

<PageTitle>Blanche</PageTitle>

<div class="nav-menu">
    <NavMenu />
</div>

<img class="bg-img" src="/images/homePage/8.jpg" alt="Homepage background" />

<div class="slogan">
    <h1 class="blanche">BLANCHE</h1>
    <h1>FOODTRUCK EN CATERING</h1>
    <h1>VOOR ELK</h1>
    <h1>EVENT</h1>
</div>

<button type="button" class="btn btn-dark">Gratis offerte</button>