@page "/availability"
@using Blanche.Client.Reservations.Components

<PageTitle>Blanche</PageTitle>

<div class="nav-menu">
    <NavMenu />
</div>

<img class="bg-img" src="/images/homePage/4.jpg" alt="Homepage background" />

<Calendar />